
@font-face {
  font-family: Entanglement;
  src: url(../assets/fonts/Entanglement-rgpRB.ttf);
}
@font-face {
  font-family: AgeLast;
  src: url(../assets/fonts/Agelast-mLlAm.otf);
}
@font-face {
  font-family: CyberGraphRegular;
  src: url(../assets/fonts/CyberGraphRegular-JRDwE.ttf);
}
@font-face {
  font-family: CyberGraphLight;
  src: url(../assets/fonts/CyberGraphLight-VGRd0.ttf);
}
@font-face {
  font-family: AstroSpace;
  src: url(../assets/fonts/AstroSpace-eZ2Bg.ttf);
}
@font-face {
  font-family: SpaceShip;
  src: url(../assets/fonts/CfSpaceshipRegular-2d4e.ttf);
}
@font-face {
  font-family: PressStart2P;
  src: url(../assets/fonts/PressStart2P-vaV7.ttf);
}
@font-face {
  font-family: PixeloidSans;
  src: url(../assets/fonts/PixeloidSans-mLxMm.ttf);
}

/* Set the default font family and size */
body {
  background-color: #262e24;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  display: none;
}

footer{
  padding: 0px;
  margin: 0px;
}

.about-container {
  background-image: linear-gradient(#fff, #04AA6D);
  display: grid;
  align-content: center;
  align-items: center; 
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10%;
  margin: 0px;
  padding: 0px;
 }
 
 img {
  max-width: 40vw;
  object-fit: contain;
  margin: 0px;
  padding: 0px;
  vertical-align: bottom;

 }

 .text {
  width: 40vw;
  text-align: center;
  float:none;
  margin: 0px;
  padding: 0px;
 }
 
 .text a{
   font-size: 70px;
 }

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

/* Style the main content area */
main {
  margin: 0 auto;
  padding: 0px;
}

main h1 { /*Main Name*/
  font-family: CyberGraphRegular;
  color: #fff;
  margin-top: -400px;
  text-align: center;
  font-size: 90px;
  text-shadow: 3px 3px 0px hsla(0, 0%, 100%, 0.5)
}

main h2 {
  font-family: CyberGraphRegular;
  color: #fff;
  margin-top: 0px;
  padding-top: 20px;
  text-align: center;
  font-size: 60px;
  text-shadow: 3px 3px 0px hsla(0, 0%, 100%, 0.5)
}

.text-and-images{
  width: 100%;
  display: grid;
  align-items: center;
  justify-items:center;
  grid-template-columns: 1fr 1fr;
  column-gap: 5vw;
  margin: 0vw;
}

.left-text{
  width: 40vw;
}

.right-images{
  width: 40vw;
}
.right-images img{
  margin-top: 15px;
  margin-bottom: 15px;
}
table{
  border-collapse: collapse;
}
td{
  border-width: 2px;
  border-style:solid;
}
.download-link{
  background-color: gray;
  border-radius: 15px;
  padding: 5px;
}
.download-link:hover{
  background-color:rgb(93, 194, 79);
}