
@font-face {
  font-family: Entanglement;
  src: url(assets/Entanglement-rgpRB.ttf);
}
@font-face {
  font-family: AgeLast;
  src: url(assets/Agelast-mLlAm.otf);
}
@font-face {
  font-family: CyberGraphRegular;
  src: url(assets/CyberGraphRegular-JRDwE.ttf);
}
@font-face {
  font-family: CyberGraphLight;
  src: url(assets/CyberGraphLight-VGRd0.ttf);
}
@font-face {
  font-family: AstroSpace;
  src: url(assets/AstroSpace-eZ2Bg.ttf);
}
@font-face {
  font-family: SpaceShip;
  src: url(assets/CfSpaceshipRegular-2d4e.ttf);
}

/* Set the default font family and size */
body {
  background-color: #262e24;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  display: none;
}

/* Style the header */
header {
  background-color: #262e24;
  background-image: url("assets/black-hole-green.png");
  background-position-x: center;
  color: #fff;
  width:100%;
  height: 700px;
  padding-top: 300px;
  margin-top: 0px;
}
footer{
  padding: 0px;
  margin: 0px;
}

/* Add a black background color to the top navigation */
.topnav {
  border-top: #04AA6D;
  border-left-width: 16px;
  border-right-width: 16px;
  border-bottom-width: 0px;
  border-top-width: 10px;
  border-style:double;
  position:fixed;
  margin-top: 0px;
  padding-top: 0px;
  width:100%;
  background-color: #000000;
  overflow: hidden;
  margin-bottom: 15px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  margin-top: 2px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Centered section inside the top navigation */
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
  margin-right: 20px;
}

.about-container {
  background-image: linear-gradient(#fff, #04AA6D);
  display: grid;
  align-content: center;
  align-items: center; 
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10%;
  margin: 0px;
  padding: 0px;
 }
 
 img {
  max-width: 40vw;
  object-fit: contain;
  margin: 0px;
  padding: 0px;
  vertical-align: bottom;

 }

 .text {
  width: 40vw;
  text-align: center;
  float:none;
  margin: 0px;
  padding: 0px;
 }
 
 .text a{
   font-size: 70px;
 }

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

/* Style the main content area */
main {
  margin: 0 auto;
  padding: 0px;
}

main h1 { /*Main Name*/
  font-family: CyberGraphRegular;
  color: #fff;
  margin-top: -100px;
  text-align: center;
  font-size: 90px;
  text-shadow: 3px 3px 0px hsla(0, 0%, 100%, 0.5)
}

main h2 {
  margin-top: 10px;
  text-align: center;
  font-size: 30px;
}

/* Style the contact form */
form label {
  display: block;
  margin-bottom: 10px;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #666;
}

/* Style the project listings */

.projects-container{
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 40px;
  background: rgb(37,51,36);
  background: linear-gradient(to top right, rgba(37,51,36,1) 0%, rgba(89,103,86,1) 10%, rgba(236,241,236,1) 100%);
}

.projects {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  max-width: 75vw;
  margin: 0 auto;
}
  
.project {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 400px; /* Add this line to restrict the width */
  min-width: 200px;
  margin: 0 auto; /* Add this line to center the projects */
}

.project img {
  width: 100%;
  height: auto;
}

.project h3 {
  margin: 0;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

.project p {
  padding: 10px;
  margin: 0;
}

.contact-socials{
  /*display: grid;*/
  grid-template-columns: repeat(2,1fr);
  padding: 10px;
}