/* Custom Font Classes */
.barlow-light {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.barlow-regular {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.barlow-bold {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.text-success-light{
  color:#2fe362
}
.kode-mono
{
  font-family: 'Kode Mono', monospace; 
}
.text-decoration-underline {
      /* Adjustments to the underline style */
      text-underline-offset: 0.2em; /* Adjust the offset */
    }


/* Navigation Bar Customization */
.navbar-custom {
  font-family: 'Kode Mono', monospace; 
  
}

.noise {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: .05;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
  color: #2fe362;
}

.navbar-custom .nav-link:hover {
  color: #ffffff; 
}

.Header-Text{
  font-family: 'Kode Mono', monospace; 
}


.header-section {
  background-image: url(assets/black-hole-green.png); /* Replace 'path_to_your_image.jpg' with the path to your image */
  background-size: cover;
  background-position: center;
  height: 500px; /* Adjust the height as needed */
  color: white; /* Set text color to contrast with background */
  text-align: center; /* Center align text */
  align-items: center;
  justify-content: center;
}

.work-experience-item ul{
  list-style-position:inside;
  text-align: center;
}

.work-experience-item li{
  text-align: center;
}
a {
  color: #000;
}

.project-card
{
  color: #111;
}

.project-card:hover
{
  color: #0dcaf0;
}

.card-hover {
  transition: all 0.5s ease; /* Add transition for smoother animation */
  position: relative; /* Set position to relative */
}

.card-hover .card-content {
  max-height: 225px; /* Set initial max height */
  overflow: hidden; /* Hide overflow content */
}

.card-hover:hover .card-content {
  max-height: 1000px; /* Set the desired max height on hover */
}
